@charset "UTF-8";
/* IMPORTS
---------------*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");
/* VARIABLES
---------------*/
/* MAIN
---------------*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-weight: normal;
  color: inherit;
}

body {
  background-color: #e6e6e6;
}

main {
  z-index: 10;
  position: relative;
}

::selection {
  background-color: #3B9944;
  color: white;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

strong {
  font-weight: 700;
}

/* STYLE transform za js
---------------*/
.fadein {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.scroll-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 2s ease-in-out;
}

.scroll-right {
  opacity: 0;
  transform: translateX(200px);
  transition: all 2s ease-in-out;
}

.scroll-down {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-in-out;
}

.fadein.in-view,
.scroll-left.in-view,
.scroll-right.in-view,
.scroll-down.in-view {
  opacity: 1;
  transform: translateX(0px);
  transition-property: opacity, transform;
  transition-duration: 2.2s, 2s;
  transition-timing-function: ease-in-out;
}

/* back to top button
---------------*/
#back-to-top-button {
  display: inline-block;
  background-color: #2e2e2e;
  background-image: url("./img/icons/arrow-down-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#back-to-top-button.show {
  opacity: .75;
  visibility: visible;
  cursor: pointer;
}

#back-to-top-button:hover {
  opacity: 1;
}

/* HEADER
---------------*/
/* SITE HEADER
---------------*/
#site-header {
  position: fixed;
  width: 100%;
  height: 8vh;
  min-height: 4rem;
  top: 0;
  color: #e6e6e6;
  background-color: rgba(74, 74, 74, 0.8);
  border-bottom: 0.1rem solid #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: "logo nav";
  align-items: center;
  z-index: 100;
}

.header-logo {
  grid-area: logo;
  grid-column: 2/3;
  height: 8vh;
  max-width: 8vh;
  min-height: 3rem;
  cursor: pointer;
}

.header-logo img {
  height: 7vh;
  min-height: 3rem;
}

nav {
  height: 100%;
  grid-area: nav;
  grid-column: 2/3;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

nav a {
  color: #e6e6e6;
  margin-left: 2rem;
}

nav :hover {
  transition: all .3s ease-in-out;
  color: #3B9944;
}

nav img {
  cursor: pointer;
}

.sobe,
.dvorane,
.language {
  position: relative;
}

.sobe ul,
.dvorane ul,
.language ul {
  position: absolute;
  background-color: rgba(74, 74, 74, 0.8);
  margin-top: 2.7vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  transform: translateY(-10px);
}

.sobe li,
.dvorane li,
.language li {
  height: 100%;
  width: max-content;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
}

.sobe li a, .sobe li img,
.dvorane li a,
.dvorane li img,
.language li a,
.language li img {
  margin: 0.6rem 2rem;
}

.sobe a:focus + ul,
.dvorane a:focus + ul,
.language a:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

/* PAGE HEADER
---------------*/
#page-header {
  height: 20vh;
  min-height: 11rem;
  background-color: #7a7b80;
  color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

#page-header h1 {
  grid-column: 2/3;
  justify-self: start;
  align-self: end;
}

/* MOBILE HEADER
---------------*/
.burger {
  grid-column: 3/4;
  display: none;
  cursor: pointer;
}

.burger div {
  width: 2.5rem;
  height: .3rem;
  background-color: #e6e6e6;
  margin: .5rem;
  transition: all .3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 860px) {
  .burger {
    display: block;
  }
  nav {
    position: absolute;
    right: -14%;
    height: 92vh;
    top: 8vh;
    color: #e6e6e6;
    background-color: rgba(74, 74, 74, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    transition: all 0.4s ease;
    transform: translateX(100%);
  }
  nav a {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  nav > * {
    opacity: 0;
  }
  .sobe ul,
  .dvorane ul,
  .language ul {
    position: relative;
    height: 0;
    background-color: transparent;
    transition: all 1s ease;
  }
  .sobe a:focus + ul,
  .dvorane a:focus + ul,
  .language a:focus + ul {
    opacity: 1;
    height: auto;
    pointer-events: all;
    transform: translateY(0px);
    transition: all 1s ease;
  }
  .sobe,
  .dvorane,
  .language {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
  .sobe a,
  .dvorane a,
  .language a {
    margin-bottom: 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }
}

/* FOOTER
---------------*/
footer {
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 25vh;
  min-height: 20rem;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.footer-top {
  height: 88%;
  width: 100%;
  background-color: #424242;
  color: #e6e6e6;
  border-top: 5px solid #3B9944;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  grid-column: 1/2;
  justify-self: center;
}

.footer-logo img {
  width: 20vh;
  min-width: 20rem;
}

.footer-contact-container {
  grid-column: 2/5;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.footer-linkovi {
  margin-right: 3px;
}

.footer-linkovi h3 {
  text-align: center;
  margin-bottom: 5px;
}

.footer-linkovi a {
  font-size: 1.8rem;
}

.footer-linkovi a:hover {
  transition: all .3s ease-in-out;
  color: #3B9944;
}

.footer-kontakt h3 {
  text-align: center;
  margin-bottom: 5px;
}

.footer-kontakt li {
  display: flex;
  align-items: center;
}

.footer-kontakt ul li img {
  width: 1.7vh;
  margin-right: 8px;
}

.footer-kontakt adress, .footer-kontakt a {
  font-size: 1.8rem;
}

.footer-kontakt a:hover {
  transition: all .3s ease-in-out;
  color: #3B9944;
}

.footer-social-media {
  margin-left: 3px;
}

.footer-social-media h3 {
  text-align: center;
  margin-bottom: 5px;
}

.footer-social-media .social-media-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-social-media img {
  width: 3vh;
  min-width: 3rem;
}

.footer-img {
  width: 100%;
  min-width: 20rem;
  align-self: end;
  opacity: 0.41;
  mix-blend-mode: lighten;
}

.footer-img img {
  width: 100%;
}

.footer-bottom {
  grid-column: 1/6;
  height: 12%;
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p {
  font-size: 1.2rem;
  color: #e6e6e6;
}

/* Footer queries 1100px
---------------*/
@media screen and (max-width: 1100px) {
  .footer-logo img {
    width: 15vh;
    min-width: 15rem;
  }
  .footer-linkovi a,
  .footer-kontakt adress,
  .footer-kontakt a {
    font-size: 1.2rem;
  }
}

/* Footer queries 860px
---------------*/
@media screen and (max-width: 860px) {
  footer {
    min-height: 60rem;
  }
  .footer-top {
    position: relative;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
  }
  .footer-contact-container {
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-kontakt,
  .footer-social-media {
    margin-top: 2rem;
  }
  .footer-kontakt li {
    display: flex;
    align-items: center;
  }
  .footer-img {
    display: none;
  }
  .footer-top::after {
    content: "";
    background-image: url("./img/hotel-dark.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 0.25;
    mix-blend-mode: lighten;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .footer-linkovi a,
  .footer-kontakt adress,
  .footer-kontakt a {
    font-size: 2rem;
  }
  .footer-top h3 {
    font-size: 3rem;
  }
  .footer-bottom {
    height: 6%;
  }
}

/* HOME PAGE
---------------*/
.hero {
  width: 100%;
  height: 100vh;
  background-color: #949599;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.title-container {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: #e6e6e6;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  user-select: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.88);
}

.hr-main {
  height: 0.1rem;
  width: 20%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #e6e6e6 50%, rgba(255, 255, 255, 0) 100%);
}

.main-subtitle {
  color: #e6e6e6;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  user-select: none;
  line-height: 5rem;
  transform: scale(1, 0.75);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.88);
}

.star-container {
  width: auto;
  height: auto;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.star-container img {
  width: 4vh;
  margin: .5vh;
}

.star-container .star-middle {
  margin-bottom: 2vh;
}

.btn.homepage {
  position: absolute;
  top: 80%;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 3rem;
  letter-spacing: .3rem;
  color: #e6e6e6;
  border: 0.2rem solid #e6e6e6;
  border-radius: .4rem;
}

.btn.homepage:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem #e6e6e6;
}

.page-down-arrow {
  position: absolute;
  top: 90%;
  width: 5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.page-down-arrow:hover {
  transform: scale(1.2);
}

/* about dio (sobe, svečanosti i poslovna događanja)
---------------*/
.about-container {
  width: 100%;
  height: 100vh;
  min-height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url("./img/entrance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 3fr;
}

.few-words {
  grid-column: 1/6;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.few-words h2 {
  color: black;
  margin-bottom: .7vh;
}

.few-words p {
  color: black;
}

.rooms {
  grid-column: 2/3;
}

.wedding {
  grid-column: 3/4;
}

.congress {
  grid-column: 4/5;
}

.rooms,
.wedding,
.congress {
  width: 95%;
  height: 70%;
  padding: 2%;
  background-color: white;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.rooms:hover,
.wedding:hover,
.congress:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.75);
}

.rooms img,
.wedding img,
.congress img {
  background-color: #6990cf;
  width: 100%;
  height: 50%;
  margin-bottom: 4%;
  object-fit: cover;
  align-self: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.rooms .rooms-wrap,
.rooms .wedding-wrap,
.rooms .congress-wrap,
.wedding .rooms-wrap,
.wedding .wedding-wrap,
.wedding .congress-wrap,
.congress .rooms-wrap,
.congress .wedding-wrap,
.congress .congress-wrap {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rooms hr,
.wedding hr,
.congress hr {
  height: 0.1rem;
  width: 30%;
  margin: 2% 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  align-self: center;
}

/* zadnji dio početne stranice
---------------*/
.image-gallery {
  width: 100%;
  height: 120vh;
  min-height: 110rem;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 6fr 5fr 7fr;
  border: 1rem solid white;
  overflow: hidden;
}

.image-gallery-img1 {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img2 {
  grid-column: 2/4;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img3 {
  grid-column: 4/5;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img4 {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img5 {
  grid-column: 2/4;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border: .3rem solid white;
}

.image-gallery-img6 {
  grid-column: 4/5;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img7 {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img8 {
  grid-column: 3/5;
  width: 100%;
  height: 100%;
  background-image: url("./img/sobe/place holder3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: .3rem solid white;
  filter: grayscale(40%);
  transition: filter .5s ease-in-out;
}

.image-gallery-img1:hover,
.image-gallery-img2:hover,
.image-gallery-img3:hover,
.image-gallery-img4:hover,
.image-gallery-img5:hover,
.image-gallery-img6:hover,
.image-gallery-img7:hover,
.image-gallery-img8:hover {
  filter: grayscale(0%);
}

.map {
  bottom: 0px;
  height: 30rem;
  width: 100%;
  border: .5rem solid white;
  border-top: 0;
  display: flex;
  justify-content: center;
}

.map iframe {
  width: 100%;
}

/* MEDIA QUERIES
---------------*/
@media only screen and (max-width: 860px) {
  .main-title {
    font-size: 4rem;
  }
  .main-subtitle {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 2rem;
  }
  .about-container {
    height: 170vh;
    min-height: 160rem;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 3fr 3fr 3fr;
  }
  .rooms {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 95%;
    width: 80%;
  }
  .wedding {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 95%;
    width: 80%;
  }
  .congress {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 95%;
    width: 80%;
  }
  /* zadnji dio početne stranice
  ---------------*/
  .image-gallery {
    height: 70vh;
    min-height: 60rem;
  }
  .map {
    height: 20rem;
  }
}

/* JEDNOKREVETNE SOBE PAGE
---------------*/
.hero-sobe {
  height: 140vh;
  min-height: 90rem;
  z-index: 10;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 2fr 1fr 2fr;
  align-items: center;
}

.carousel-container,
.sobe-icons,
.about-sobe-container {
  height: 100%;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

.carousel-container {
  width: 60%;
  max-width: 974px;
  height: auto;
  display: flex;
  overflow: hidden;
  border: 1rem solid #e6e6e6;
  border-radius: .4rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

#slider {
  width: 1024px;
}

.sobe-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobe-icons-wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sobe-icons-wrapper div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.sobe-icons-wrapper div img {
  width: 25%;
}

.sobe-icons-wrapper div h3 {
  width: auto;
  font-size: 2rem;
  margin-top: 1rem;
}

.hr-sobe {
  height: 0.2rem;
  width: 30%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  margin: 3.5rem 0;
}

.about-sobe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  height: 50vh;
}

/* ACCORDION
---------------*/
.about-container-right {
  margin: 0 5rem 0 5rem;
}

.ac-container {
  width: 100%;
  text-align: left;
  text-align: justify;
  color: #777;
}

.ac-container label {
  position: relative;
  width: 100%;
  z-index: 20;
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.ac-container label:hover {
  color: #3B9944;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  color: #3B9944;
}

.ac-container input {
  content: url("./img/icons/arrow-down-black.svg");
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
  width: 1.5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ac-container input:checked {
  content: url("./img/icons/arrow-down-black.svg");
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

.ac-container article {
  margin: 1rem 0 1rem 3rem;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out;
}

.ac-container article p {
  color: #777;
  padding: 5px;
}

.ac-container article ul li {
  font-size: 2rem;
}

.ac-container input:checked ~ article {
  height: 15rem;
  transition: height 0.5s ease-in-out;
}

/* ABOUT-CONTAINER-LEFT
---------------*/
.about-container-left {
  margin: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.about-container-left .price-info {
  height: auto;
  width: 80%;
  margin: 2rem 0 5rem 0;
  background-color: #e0f3e2;
  display: flex;
  align-items: center;
  border-radius: .2rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.about-container-left .price-info img {
  height: 2rem;
  margin: 2rem 2rem 2rem 2rem;
}

.about-container-left .price-info p {
  color: #3B9944;
  margin: 1rem 2rem 1rem 0;
}

.about-container-left .btn-sobe-rezerviraj {
  text-align: center;
  padding: .5rem 2rem;
  font-size: 2.7rem;
  color: black;
  border: .2rem solid black;
  border-radius: .4rem;
}

.about-container-left .btn-sobe-rezerviraj:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem black;
}

.about-container-left .btn-sobe-cjenik {
  text-align: center;
  margin-top: 3rem;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}

.about-container-left .btn-sobe-cjenik:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem black;
}

/* POSLOVNA DOGAĐANJA PAGE
---------------*/
.hero-poslovna {
  height: 200vh;
  z-index: 10;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 7fr;
  align-items: center;
}

.few-words-poslovna {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.few-words-poslovna hr {
  height: 0.1rem;
  width: 30%;
  margin: 1rem 0 2rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  align-self: center;
}

.poslovna-bcg {
  height: 100%;
  grid-column: 1/4;
  background-image: url("./img/sobe/place holder bcg.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%), url("./img/sobe/place holder bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr;
}

.poslovna-bcg .poslovna-siscia-1 {
  grid-column: 2/3;
}

.poslovna-bcg .poslovna-siscia-2 {
  grid-column: 3/4;
}

.poslovna-bcg .poslovno-banket-sala-prizemno {
  grid-column: 2/3;
}

.poslovna-bcg .poslovno-banket-sala-kat {
  grid-column: 3/4;
}

.poslovna-siscia-1,
.poslovna-siscia-2,
.poslovno-banket-sala-prizemno,
.poslovno-banket-sala-kat {
  width: 95%;
  height: 95%;
  padding: 2%;
  background-color: white;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.poslovna-siscia-1:hover,
.poslovna-siscia-2:hover,
.poslovno-banket-sala-prizemno:hover,
.poslovno-banket-sala-kat:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.6);
}

.poslovna-siscia-1 img,
.poslovna-siscia-2 img,
.poslovno-banket-sala-prizemno img,
.poslovno-banket-sala-kat img {
  width: 100%;
  height: 50%;
  margin-bottom: 4%;
  align-self: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.poslovna-siscia-1 hr,
.poslovna-siscia-2 hr,
.poslovno-banket-sala-prizemno hr,
.poslovno-banket-sala-kat hr {
  height: 0.1rem;
  width: 30%;
  margin: 2% 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  align-self: center;
}

.sala-opis {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.sala-opis img {
  width: 3.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  box-shadow: none;
}

.sala-opis span {
  font-size: 2.5rem;
}

.sala-opis-top {
  width: 80%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.sala-opis-top ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sala-opis-top li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sala-opis-bot {
  width: 100%;
  display: flex;
}

.sala-opis-left,
.sala-opis-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sala-opis-left li,
.sala-opis-right li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sala-opis-left img,
.sala-opis-right img {
  width: 3rem;
  margin-right: 1rem;
  box-shadow: none;
}

.sala-opis-left span,
.sala-opis-right span {
  font-size: 2rem;
}

.poslovna-bcg .btn-block-kontakt {
  margin-top: 2rem;
}

.poslovna-bcg .btn-block-kontakt a {
  background: none;
  text-align: center;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.poslovna-bcg .btn-block-kontakt a:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem black;
}

/* SVADBENE SVEČANOSTI PAGE
---------------*/
.hero-svadbe {
  height: 120vh;
  min-height: 80rem;
  width: 100%;
  z-index: 15;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 5fr;
  align-items: center;
}

.hero-svadbe .few-words {
  grid-column: 2/3;
}

.few-words {
  background-color: #e6e6e6;
}

.few-words hr {
  height: 0.1rem;
  width: 30%;
  margin: 1rem 0 2rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  align-self: center;
}

.svadbene-bcg {
  height: 100%;
  grid-column: 1/4;
  background-image: url("./img/sobe/place holder bcg.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%), url("./img/sobe/place holder bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.svadbene-info-container {
  height: 90%;
  width: 100%;
  grid-column: 2/3;
  background-color: #e6e6e6;
  align-self: center;
  justify-self: center;
  border-radius: .4rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/* menu dio
---------------*/
.svadbe-menu {
  height: 120rem;
  width: 100;
  z-index: 10;
  position: relative;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr 7fr;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr;
}

.svadbe-menu .menu-one {
  grid-column: 2/3;
  justify-self: end;
}

.svadbe-menu .menu-two {
  grid-column: 3/4;
  justify-self: start;
}

.svadbe-menu .menu-three {
  grid-column: 2/3;
  justify-self: end;
}

.svadbe-menu .menu-four {
  grid-column: 3/4;
  justify-self: start;
}

.svadbe-menu::after {
  content: "";
  background: url("./img/floral-bouquet2.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 11;
}

.menu-one,
.menu-two,
.menu-three,
.menu-four {
  width: 60%;
  height: 95%;
  margin: 2rem;
  position: relative;
  background-color: white;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 12;
}

.menu-overlay {
  width: 100%;
  height: 100%;
  background: url("./img/menu-bcg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .2;
}

.menu-text-wrap {
  position: absolute;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-text-wrap h3 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu-text-wrap hr {
  height: 0.1rem;
  width: 30%;
  margin: 1rem 0 2rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
  align-self: center;
}

.menu-text-wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
}

/* GASTRONOMIJA PAGE
---------------*/
.gastronomija-wrap {
  width: 100%;
  z-index: 10;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  align-items: center;
}

.restoran-countainer,
.catering-countainer,
.slatki-kutak-countainer {
  grid-column: 2/3;
  height: 50vh;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.restoran-img,
.catering-img,
.slatki-kutak-img {
  grid-column: 1/4;
  height: 70vh;
}

.restoran-img {
  background-image: url("./img/meso.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catering-img {
  background-image: url("./img/meso.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slatki-kutak-img {
  background-image: url("./img/meso.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slatki-kutak-countainer ul {
  font-size: 2rem;
}

/* REZERVACIJA PAGE
---------------*/
.rezervacija-bcg {
  height: 100vh;
  min-height: 76rem;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-content: center;
  z-index: 10;
  background: url("./img/sobe/place holder bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rezervacija-bcg::after {
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 11;
  height: 100vh;
  min-height: 76rem;
  width: 100%;
  content: '';
}

.rezervacija-form {
  grid-column: 2/3;
  align-self: center;
  background-color: white;
  z-index: 12;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
  border-radius: .4rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.itemset-main {
  grid-row: 1/2;
}

.itemset-rooms,
.itemset-hall {
  grid-row: 2/3;
}

.itemset-msg-submit {
  grid-row: 3/4;
}

.itemset-main,
.itemset-rooms,
.itemset-hall,
.itemset-msg-submit {
  justify-self: center;
  align-self: center;
  width: 70%;
}

.name-lname,
.email-phone,
.reservation-type,
.message-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.name,
.lname,
.email,
.phone,
.reservation-type,
.message {
  position: relative;
  width: 40%;
  height: 7rem;
  overflow: hidden;
}

.itemset-main input,
.itemset-msg-submit input {
  width: 100%;
  height: 100%;
  color: #2e2e2e;
  font-size: 2rem;
  padding-top: 3rem;
  border: none;
  outline: none;
}

.itemset-main label,
.itemset-msg-submit label {
  position: absolute;
  bottom: 0rem;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  pointer-events: none;
  border-bottom: .1rem solid black;
}

.itemset-main select,
.itemset-msg-submit select {
  font-size: 2rem;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("./img/icons/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1rem;
}

.itemset-main label::after,
.itemset-msg-submit label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -.1rem;
  border-bottom: 0.3rem solid #3B9944;
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.when-selected {
  border-bottom: 0.2rem solid #3B9944 !important;
  transition: border .3s ease;
}

.content-name,
.content-lname,
.content-email,
.content-phone,
.content-message {
  position: absolute;
  bottom: .5rem;
  left: 0px;
  transition: all .3s ease;
}

input:focus + .label-name .content-name,
input:valid + .label-name .content-name,
input:focus + .label-lname .content-lname,
input:valid + .label-lname .content-lname,
input:focus + .label-email .content-email,
input:valid + .label-email .content-email,
input:focus + .label-phone .content-phone,
input:valid + .label-phone .content-phone,
input:focus + .label-message .content-message,
input:valid + .label-message .content-message {
  transform: translateY(-150%);
  font-size: 2rem;
  color: #3B9944;
}

.email input:invalid:not(:focus):not(:placeholder-shown) + .label-email .content-email,
.message input:invalid:not(:focus):not(:placeholder-shown) + .label-message .content-message {
  transform: translateY(-150%);
  font-size: 2rem;
  color: red;
}

.email input:invalid:not(:focus):not(:placeholder-shown) + label::after,
.message input:invalid:not(:focus):not(:placeholder-shown) + label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -.1rem;
  border-bottom: .3rem solid red;
  transform: translateX(0%);
  transition: transform .3s ease;
}

.email input:invalid:focus:not(:placeholder-shown) + .label-email .content-email,
.message input:invalid:focus:not(:placeholder-shown) + .label-message .content-message {
  transform: translateY(-150%);
  font-size: 2rem;
  color: red;
}

.email input:invalid:focus:not(:placeholder-shown) + label::after,
.message input:invalid:focus:not(:placeholder-shown) + label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -.1rem;
  border-bottom: .3rem solid red;
  transition: transform .3s ease;
}

input:focus + .label-name::after,
input:valid + .label-name::after,
input:focus + .label-lname::after,
input:valid + .label-lname::after,
input:focus + .label-email::after,
input:valid + .label-email::after,
input:focus + .label-phone::after,
input:valid + .label-phone::after,
input:valid + .label-message::after,
input:focus + .label-message::after {
  transform: translateX(0%);
}

.reservation-type {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.reservation-type label {
  position: inherit;
  bottom: -1rem;
  left: 0%;
  width: 55%;
  height: 100%;
  font-size: 3rem;
  pointer-events: none;
  border-bottom: none;
  transition: all .3s ease;
}

.reservation-type label::after {
  display: none;
  border-bottom: none;
}

.reservation-type select {
  font-size: 2rem;
  text-align: center;
  width: 45%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("./img/icons/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1rem;
  border-bottom: .1rem solid black;
}

/* drugi dio
---------------*/
.itemset-rooms,
.itemset-hall {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 3rem;
}

.checkindate-checkoutdate {
  width: 100%;
  grid-column: 1/3;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.checkindate-checkoutdate label {
  font-size: 3rem;
  transition: all .3s ease;
}

.checkindate-checkoutdate input {
  margin-left: 1rem;
  font-size: 2rem;
  text-align: center;
  border-bottom: .1rem solid black;
  transition: all .3s ease;
}

.rooms-left {
  width: 100%;
  grid-column: 1/2;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rooms-right {
  width: 100%;
  grid-column: 2/3;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.people-number,
.room-type,
.children-number,
.com-type {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.people-number label,
.room-type label,
.children-number label,
.com-type label {
  width: 40%;
  font-size: 3rem;
  transition: all .3s ease;
}

.people-number input,
.room-type input,
.children-number input,
.com-type input {
  font-size: 2rem;
}

.people-number select,
.room-type select,
.children-number select,
.com-type select {
  width: 40%;
  font-size: 2rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("./img/icons/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1rem;
  border-bottom: .1rem solid black;
}

/* treci dio
---------------*/
.btn-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-block button {
  background: none;
  text-align: center;
  margin-left: 6rem;
  margin-right: 3rem;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.btn-block button:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem black;
}

.itemset-msg-submit p {
  font-size: 1rem;
}

/* media queries
---------------*/
@media only screen and (max-width: 1200px) {
  .itemset-main,
  .itemset-rooms,
  .itemset-hall,
  .itemset-msg-submit {
    justify-self: center;
    align-self: center;
    width: 95%;
  }
  .rooms-left select {
    width: 50%;
  }
  .people-number,
  .room-type,
  .children-number,
  .com-type {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 808px) {
  .rezervacija-bcg {
    min-height: 100rem;
  }
  .rezervacija-form label,
  .rezervacija-form select,
  .rezervacija-form option {
    font-size: 2rem;
  }
  .rezervacija-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .itemset-main,
  .itemset-rooms,
  .itemset-hall,
  .itemset-msg-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .reservation-type {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .checkindate-checkoutdate,
  .roomtype-comtype,
  .message-btn {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;
  }
  .people-number select,
  .roomtype-comtype select {
    margin-bottom: 1rem;
  }
  .message-btn .message {
    width: 95%;
  }
  .message-btn .btn-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .message-btn .btn-block button {
    margin: 0;
  }
}

/* KONTAKT PAGE
---------------*/
.hero-kontakt {
  height: 80vh;
  min-height: 60rem;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  background-color: #e6e6e6;
}

.kontakt-wrap {
  grid-column: 2/3;
  height: 90%;
  background-color: white;
  align-self: center;
  display: flex;
  align-items: center;
  border-radius: .4rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.kontakt-left-wrap {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.kontakt-left-wrap hr {
  height: 0.2rem;
  width: 60%;
  margin-top: 1rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
}

.kontakt-left-wrap li {
  display: flex;
  align-items: center;
}

.kontakt-left-wrap ul li img {
  width: 1.7vh;
  margin-right: 8px;
}

.kontakt-left-wrap adress, .kontakt-left-wrap a {
  font-size: 1.8rem;
}

.kontakt-left-wrap a:hover {
  transition: all .3s ease-in-out;
  color: #3B9944;
}

.subtitle-kontakt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kontakt-left-inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kontakt-right-wrap {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.kontakt-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.kontakt-form .name,
.kontakt-form .email,
.kontakt-form .message {
  position: relative;
  width: 50%;
  height: 7rem;
  overflow: hidden;
}

.kontakt-form input {
  width: 100%;
  height: 100%;
  color: #2e2e2e;
  font-size: 2rem;
  padding-top: 3rem;
  border: none;
  outline: none;
}

.kontakt-form label {
  position: absolute;
  bottom: 0rem;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  pointer-events: none;
  border-bottom: .1rem solid black;
}

.kontakt-form .subject {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.kontakt-form .subject label {
  position: inherit;
  bottom: 0rem;
  left: 0%;
  width: 50%;
  height: 100%;
  font-size: 3rem;
  pointer-events: none;
  border-bottom: none;
}

.kontakt-form .subject select {
  font-size: 2rem;
  width: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("./img/icons/arrow-down-black.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1rem;
  border-bottom: .1rem solid black;
}

.kontakt-form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -.1rem;
  border-bottom: 0.3rem solid #3B9944;
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.captcha {
  width: 17rem;
  height: 9rem;
  background-image: url("./img/captcha placeholder.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-block-kontakt button {
  background: none;
  text-align: center;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.btn-block-kontakt button:hover {
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 0 0.2rem black;
}

/* workers dio
---------------*/
.workers {
  height: 70rem;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: 2fr 7fr;
  background-color: #ccc8bc;
}

.workers-title {
  grid-column: 2/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: center;
}

.workers-title hr {
  height: 0.2rem;
  width: 60%;
  margin-top: 1rem;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 50%, rgba(255, 255, 255, 0) 100%);
}

.workers-left,
.workers-middle,
.workers-right {
  height: 90%;
  width: 75%;
  background-color: white;
  justify-self: center;
  align-self: start;
  border-radius: .4rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.workers-left {
  grid-column: 2/3;
  justify-self: end;
}

.workers-middle {
  grid-column: 3/4;
}

.workers-right {
  grid-column: 4/5;
  justify-self: start;
}

.map.kontakt {
  border: .5rem solid white;
}

/* workers svaki posebno dio
---------------*/
.workers-left,
.workers-middle,
.workers-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.workers-pic-title {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workers-pic img {
  height: 50px;
  height: 50px;
  margin-right: 2rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.workers-info {
  margin: 2rem;
}

.workers-info p {
  text-align: justify;
}

.workers-kontakt {
  margin-bottom: 2rem;
}

.workers-kontakt li {
  display: flex;
  align-items: center;
}

.workers-kontakt ul li img {
  width: 1.7vh;
  margin-right: 8px;
}

.workers-kontakt a {
  font-size: 1.8rem;
}

.workers-kontakt a:hover {
  transition: all .3s ease-in-out;
  color: #3B9944;
}

/* Queries 1100px
---------------*/
/* 404 PAGE
---------------*/
.hero-404-background {
  height: 55vh;
  background-color: #020202;
  display: flex;
  justify-content: center;
}

.hero-404-background .hero-404 {
  height: 55vh;
  width: 100%;
  background-image: url("./img/404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

@media only screen and (max-width: 808px) {
  .hero-404 {
    background-position: start;
    background-size: cover;
  }
}

/* IMAGE SLIDER
---------------*/
.ideal-image-slider {
  background-color: #fff;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px 32px;
}

/* Navigation */
.iis-previous-nav,
.iis-next-nav {
  position: absolute;
  top: 50%;
  z-index: 20;
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  background-size: 48px 48px;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.iis-previous-nav {
  left: 5%;
  background-position: 35% 50%;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18xIiBwb2ludHM9IjM1MiwxMTUuNCAzMzEuMyw5NiAxNjAsMjU2IDMzMS4zLDQxNiAzNTIsMzk2LjcgMjAxLjUsMjU2ICIvPgogPC9nPgo8L3N2Zz4=");
}

.iis-next-nav {
  right: 5%;
  background-position: 65% 50%;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBvbHlnb24gZmlsbD0iI2ZmZmZmZiIgaWQ9InN2Z18xIiBwb2ludHM9IjE2MCwxMTUuNCAxODAuNyw5NiAzNTIsMjU2IDE4MC43LDQxNiAxNjAsMzk2LjcgMzEwLjUsMjU2ICIvPgogPC9nPgo8L3N2Zz4=");
}

.ideal-image-slider:hover .iis-previous-nav,
.ideal-image-slider:hover .iis-next-nav {
  opacity: 0.5;
}

.ideal-image-slider:hover .iis-previous-nav:hover,
.ideal-image-slider:hover .iis-next-nav:hover {
  opacity: 1.0;
}

/* Bullet Navigation */
.iis-bullet-nav {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 15;
  width: 90%;
  text-align: right;
  opacity: 0.4;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.iis-has-captions .iis-bullet-nav {
  max-width: 42%;
}

.iis-bullet-nav a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  text-indent: 9999px;
  margin: 0 5px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.iis-bullet-nav a.iis-bullet-active,
.iis-bullet-nav a:hover {
  background: #fff;
}

.ideal-image-slider:hover .iis-bullet-nav {
  opacity: 0.7;
}

.ideal-image-slider:hover .iis-bullet-nav:hover {
  opacity: 1.0;
}

/* Captions */
.iis-has-captions .iis-slide {
  text-indent: 0;
}

.iis-caption {
  position: absolute;
  left: 5%;
  bottom: 5%;
  max-width: 90%;
  z-index: 10;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  border-radius: 10px;
  font: 14px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.iis-has-bullet-nav .iis-caption {
  max-width: 42%;
}

.iis-caption .iis-caption-title {
  font-weight: bold;
}

.iis-caption .iis-caption-content {
  font-size: 13px;
  line-height: 1.6em;
  color: #eee;
}

.iis-caption .iis-caption-content a,
.iis-caption .iis-caption-content a:visited {
  color: #eee;
  text-decoration: underline;
  border: 0;
}

.iis-caption .iis-caption-content a:hover,
.iis-caption .iis-caption-content a:active {
  color: #fff;
}

.ideal-image-slider {
  position: relative;
  overflow: hidden;
}

.iis-slide {
  display: block;
  bottom: 0;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-indent: -9999px;
}

/* Slide effect */
.iis-effect-slide .iis-slide {
  opacity: 0;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.iis-effect-slide .iis-current-slide {
  opacity: 1;
  z-index: 1;
}

.iis-effect-slide .iis-previous-slide {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.iis-effect-slide .iis-next-slide {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.iis-effect-slide.iis-direction-next .iis-previous-slide,
.iis-effect-slide.iis-direction-previous .iis-next-slide {
  opacity: 1;
}

/* Touch styles */
.iis-touch-enabled .iis-slide {
  z-index: 1;
}

.iis-touch-enabled .iis-current-slide {
  z-index: 2;
}

.iis-touch-enabled.iis-is-touching .iis-previous-slide,
.iis-touch-enabled.iis-is-touching .iis-next-slide {
  opacity: 1;
}

/* Fade effect */
.iis-effect-fade .iis-slide {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
}

.iis-effect-fade .iis-current-slide {
  opacity: 1;
  z-index: 1;
}

/* QUERIES
---------------*/
/* Main queries 1100px
---------------*/
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.5rem;
  }
}

/* Main queries 860px
---------------*/
@media screen and (max-width: 860px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }
  a {
    font-size: 2rem;
  }
}
